version: "3.7"

services:
  app:
    image: alswl/excalidraw:v0.18.0-fork-b1
    container_name: excalidraw-app
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - VITE_APP_BACKEND_V2_URL=http://localhost:8090/api/v2
      - VITE_APP_WS_SERVER_URL=ws://localhost:8091/
    networks:
      - draw-internal

  storage:
    image: alswl/excalidraw-storage-backend:v2023.11.11
    container_name: excalidraw-storage
    restart: unless-stopped
    ports:
      - "8090:8080"
    environment:
      - STORAGE_URI=mongodb://${DB_USER}:${DB_PASS}@mongodb:27017
    networks:
      - draw-internal

  room:
    image: excalidraw/excalidraw-room:sha-49bf529
    container_name: excalidraw-room
    restart: unless-stopped
    ports:
      - "8091:80"
    networks:
      - draw-internal

  mongodb:
    image: mongo:7.0.5-jammy
    container_name: excalidraw-db
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASS}
    volumes:
      - ./mongo-data:/data/db
      - ./mongo-dumps:/data/dump
    networks:
      - draw-internal

  mongoexpress:
    image: mongo-express:latest
    container_name: excalidraw-admin
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://${DB_USER}:${DB_PASS}@mongodb:27017
      - ME_CONFIG_BASICAUTH=true
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_USER}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASS}
    ports:
      - "8081:8081"
    networks:
      - draw-internal

networks:
  draw-internal:
    name: draw-internal
