version: "3.7"

services:
  app:
    image: alswl/excalidraw:v0.18.0-fork-b1
    restart: unless-stopped
    environment:
      # If deploying to VPS, replace 'localhost' with your Domain/IP
      - VITE_APP_BACKEND_V2_URL=http://localhost:8090/api/v2
      - VITE_APP_BACKEND_V2_GET_URL=http://localhost:8090/api/v2/scenes/
      - VITE_APP_BACKEND_V2_POST_URL=http://localhost:8090/api/v2/scenes/
      - VITE_APP_HTTP_STORAGE_BACKEND_URL=http://localhost:8090/api/v2
      - VITE_APP_STORAGE_BACKEND=http
      - VITE_APP_WS_SERVER_URL=ws://localhost:8091/
      - VITE_APP_FIREBASE_CONFIG={}
      - VITE_APP_DISABLE_TRACKING=true
      - PUBLIC_URL=http://localhost:8080
    ports:
      - "8080:80"
    networks:
      - draw-internal

  storage:
    image: alswl/excalidraw-storage-backend:v2023.11.11
    restart: unless-stopped
    environment:
      - STORAGE_URI=mongodb://${DB_USER}:${DB_PASS}@mongodb:27017
    networks:
      - draw-internal
    ports:
      - "8090:8080"

  room:
    image: excalidraw/excalidraw-room:sha-49bf529
    restart: unless-stopped
    networks:
      - draw-internal
    ports:
      - "8091:80"

  mongodb:
    image: mongo:7.0.5-jammy
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASS}
    volumes:
      - ${DB_VOLUME_PATH}:/data/db
      - ${MONGO_DUMP_PATH}:/data/dump
    networks:
      - draw-internal

  mongoexpress:
    image: mongo-express:latest
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://${DB_USER}:${DB_PASS}@mongodb:27017
      - ME_CONFIG_BASICAUTH=true
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_USER}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASS}
    ports:
      - "8081:8081"
    networks:
      - draw-internal

networks:
  draw-internal:
    name: draw-internal
    external: false
